<a href="https://colab.research.google.com/github/NormilDiaz/OOP-58001/blob/main/Fourth%20lesson%20(Prelim).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  print(x)

break Statements (Loop Statement):

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  print(x)
  if x == "Thursday":
    break

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  if x == "Thursday":
    print(x)
    break

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  if x == "Thursday":
    break
  print(x)

Loping through a string

In [ ]:
for x in "Normil":
  print(x)

Nested Loops

In [ ]:
adjective = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']

for x in adjective:
  for y in fruits:
    print(x,y)

While Loop

In [ ]:
i = 1
while i <= 6:
  print(i)
  i += 1 # i = i + 1 Assignment operator

break statement (While Loop):

In [66]:
i = 1
while i <= 6:
  print(i)
  if i ==3:
    break
  i += 1 # stop from being infinite

1
2
3

In [ ]:
i = 1
while i <= 6:
  if i ==3:
    break
  print(i)
  i += 1 # stop from being infinite

In [ ]:
i = 1
while i <= 6:
  if i ==3:
    print(i)
    break
  i += 1 # stop from being infinite

The Else statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print('i is no longer less than 6')

Application #1

In [ ]:
greet = ['Hello']
num = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

for x in greet:
  for y in num:
    print(x,y)

Application #2

In [ ]:
i = 9
while i >= 1:
  if i ==2:
    break
  print(i)
  i -= 1