<a href="https://colab.research.google.com/github/NormilDiaz/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10>9)

print(10 == 9)

print(10<9)

Bool Function

In [ ]:
print(bool('Normil'))

print(bool(1))

print(bool(0))

print(bool(None))

print(bool(True))

Function

In [ ]:
def Examplefunction():
 return True

print(Examplefunction())

Function (if else Statement)

In [ ]:
def Examplefunction():
 return True

if Examplefunction(): 
   print('YES')
else:
   print('NO')


# Alternate

def Examplefunction():
 return False

if Examplefunction(): 
   print('YES')
else:
   print('NO')

Try

In [ ]:
print(10>9)

a=6
b=7

print(a==b)
print(a!=a)

Math operations

In [ ]:
print(1+1)
print(1-1)
print(1*1)
print(1/1)

print(10%5) # Remainder will print
print(10//5) # Whole number will print
print(10**2) # Multiply itself to the number inputed

Bitwise Operators

In [ ]:
a=60
b=13

a>>1

Assignment Operators

In [ ]:
x=1

x+=3 # Same as x=x+3

print(x)

x-=3 # Same as x=x-3

print(x)

x*=3 # Same as x=x*3

print(x)

x/=3 # Same as x=x/3

print(x)

x%=3 # Same as x=x%3

print(x)